<div class="container" style="padding: 12px; background-color: aquamarine;">
    <div class="row">
        <div class="col-4" pt-3 *ngFor="let prod of products.json.Products">
            <div class="card">
                <div class="card-body" style="border-color:black;">
                    <h5 class="card-text" style="text-align:center;">Title : {{prod.title}}</h5>
                    <p class="card-title"><strong>Id : </strong>{{prod.id}}</p>
                    <p class="card-text"><strong>Price : </strong>{{prod.price}} Rs.</p>
                    <div class="img"><img [src]="prod.image" alt="No image" width="150" height="200"></div>
                    <p class="card-text"><strong>Description : </strong>{{prod.description}}</p>
                </div>
            </div>
        </div>


    </div>
    <button class="btn btn-info" (click)="LoadProduct()">Get Products</button>
</div>